* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 1000;
}

.row {
	width: 100%;
	padding: 5px;
}
.col-categories {
	width: 50%;
	padding: 5px;
	display: inline-block;
	float: left;
	border: solid;

}
.col-items {
	width: 50%;
	padding: 5px;
	display: inline-block;
	border: solid;

}
.col-title {
	width: 100%;
	background-color: #98FB98;
	display: inline-block;
	float: left;

}
.col-authentication-menu {
	width: 100%;
	padding: 3px;
	display: inline-block;
	float: left;

}
.container {
	display: flex-box;
	flex-wrap: wrap;
	width: 100%;
 }
.button {
	padding: 5px;
 }